@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Montserrat:300,400,500,700&display=swap);
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.order-first {
    order: -1;
}
.order-last {
    order: 13;
}
.order-0 {
    order: 0;
}
.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
.order-3 {
    order: 3;
}
.order-4 {
    order: 4;
}
.order-5 {
    order: 5;
}
.order-6 {
    order: 6;
}
.order-7 {
    order: 7;
}
.order-8 {
    order: 8;
}
.order-9 {
    order: 9;
}
.order-10 {
    order: 10;
}
.order-11 {
    order: 11;
}
.order-12 {
    order: 12;
}
.offset-1 {
    margin-left: 8.33333%;
}
.offset-2 {
    margin-left: 16.66667%;
}
.offset-3 {
    margin-left: 25%;
}
.offset-4 {
    margin-left: 33.33333%;
}
.offset-5 {
    margin-left: 41.66667%;
}
.offset-6 {
    margin-left: 50%;
}
.offset-7 {
    margin-left: 58.33333%;
}
.offset-8 {
    margin-left: 66.66667%;
}
.offset-9 {
    margin-left: 75%;
}
.offset-10 {
    margin-left: 83.33333%;
}
.offset-11 {
    margin-left: 91.66667%;
}
@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-sm-first {
        order: -1;
    }
    .order-sm-last {
        order: 13;
    }
    .order-sm-0 {
        order: 0;
    }
    .order-sm-1 {
        order: 1;
    }
    .order-sm-2 {
        order: 2;
    }
    .order-sm-3 {
        order: 3;
    }
    .order-sm-4 {
        order: 4;
    }
    .order-sm-5 {
        order: 5;
    }
    .order-sm-6 {
        order: 6;
    }
    .order-sm-7 {
        order: 7;
    }
    .order-sm-8 {
        order: 8;
    }
    .order-sm-9 {
        order: 9;
    }
    .order-sm-10 {
        order: 10;
    }
    .order-sm-11 {
        order: 11;
    }
    .order-sm-12 {
        order: 12;
    }
    .offset-sm-0 {
        margin-left: 0;
    }
    .offset-sm-1 {
        margin-left: 8.33333%;
    }
    .offset-sm-2 {
        margin-left: 16.66667%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.33333%;
    }
    .offset-sm-5 {
        margin-left: 41.66667%;
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.33333%;
    }
    .offset-sm-8 {
        margin-left: 66.66667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.33333%;
    }
    .offset-sm-11 {
        margin-left: 91.66667%;
    }
}
@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-md-first {
        order: -1;
    }
    .order-md-last {
        order: 13;
    }
    .order-md-0 {
        order: 0;
    }
    .order-md-1 {
        order: 1;
    }
    .order-md-2 {
        order: 2;
    }
    .order-md-3 {
        order: 3;
    }
    .order-md-4 {
        order: 4;
    }
    .order-md-5 {
        order: 5;
    }
    .order-md-6 {
        order: 6;
    }
    .order-md-7 {
        order: 7;
    }
    .order-md-8 {
        order: 8;
    }
    .order-md-9 {
        order: 9;
    }
    .order-md-10 {
        order: 10;
    }
    .order-md-11 {
        order: 11;
    }
    .order-md-12 {
        order: 12;
    }
    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: 8.33333%;
    }
    .offset-md-2 {
        margin-left: 16.66667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.33333%;
    }
    .offset-md-5 {
        margin-left: 41.66667%;
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.33333%;
    }
    .offset-md-8 {
        margin-left: 66.66667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.33333%;
    }
    .offset-md-11 {
        margin-left: 91.66667%;
    }
}
@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-lg-first {
        order: -1;
    }
    .order-lg-last {
        order: 13;
    }
    .order-lg-0 {
        order: 0;
    }
    .order-lg-1 {
        order: 1;
    }
    .order-lg-2 {
        order: 2;
    }
    .order-lg-3 {
        order: 3;
    }
    .order-lg-4 {
        order: 4;
    }
    .order-lg-5 {
        order: 5;
    }
    .order-lg-6 {
        order: 6;
    }
    .order-lg-7 {
        order: 7;
    }
    .order-lg-8 {
        order: 8;
    }
    .order-lg-9 {
        order: 9;
    }
    .order-lg-10 {
        order: 10;
    }
    .order-lg-11 {
        order: 11;
    }
    .order-lg-12 {
        order: 12;
    }
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.33333%;
    }
    .offset-lg-2 {
        margin-left: 16.66667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.33333%;
    }
    .offset-lg-5 {
        margin-left: 41.66667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.33333%;
    }
    .offset-lg-8 {
        margin-left: 66.66667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.33333%;
    }
    .offset-lg-11 {
        margin-left: 91.66667%;
    }
}
@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xl-first {
        order: -1;
    }
    .order-xl-last {
        order: 13;
    }
    .order-xl-0 {
        order: 0;
    }
    .order-xl-1 {
        order: 1;
    }
    .order-xl-2 {
        order: 2;
    }
    .order-xl-3 {
        order: 3;
    }
    .order-xl-4 {
        order: 4;
    }
    .order-xl-5 {
        order: 5;
    }
    .order-xl-6 {
        order: 6;
    }
    .order-xl-7 {
        order: 7;
    }
    .order-xl-8 {
        order: 8;
    }
    .order-xl-9 {
        order: 9;
    }
    .order-xl-10 {
        order: 10;
    }
    .order-xl-11 {
        order: 11;
    }
    .order-xl-12 {
        order: 12;
    }
    .offset-xl-0 {
        margin-left: 0;
    }
    .offset-xl-1 {
        margin-left: 8.33333%;
    }
    .offset-xl-2 {
        margin-left: 16.66667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.33333%;
    }
    .offset-xl-5 {
        margin-left: 41.66667%;
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.33333%;
    }
    .offset-xl-8 {
        margin-left: 66.66667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.33333%;
    }
    .offset-xl-11 {
        margin-left: 91.66667%;
    }
}
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
html {
    font-size: 62.5%;
}
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 512px) {
    html {
        font-size: 35%;
    }
}
.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dflexs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2-5 {
    flex: 0 0 24%;
    max-width: 24%;
}
@media (max-width: 991px) {
    .col-2-5 {
        flex: 0 0 49%;
        max-width: 49%;
    }
}
@media (max-width: 768px) {
    .col-2-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.col-3-5 {
    flex: 0 0 32%;
    max-width: 32%;
}
@media (max-width: 991px) {
    .col-3-5 {
        flex: 0 0 49%;
        max-width: 49%;
    }
}
@media (max-width: 768px) {
    .col-3-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.loader-intro {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: 100;
}
.loader-intro.active {
    animation: hideLoader 0.7s ease-out forwards;
    pointer-events: none;
}
.loader-intro.active .loader__progress {
    opacity: 0;
}
@keyframes hideLoader {
    0% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }
}
.loader-intro .loader__image {
    border-radius: 50%;
    animation: mail 1.5s ease-in-out forwards;
}
@keyframes mail {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 0 0 #d64e4283;
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px #d64e4242;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 100px #d64e4200;
    }
}
.loader-intro .loader__progress {
    width: 32rem;
    height: 3px;
    border-radius: 5px;
    background: #999;
    position: relative;
}
.loader-intro .loader__progress:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 0%;
    height: 100%;
    background: #d64f42;
    animation: progress 2s linear forwards;
}
@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 0;
    transition: 0.3s ease-out;
    pointer-events: none;
}
.loader.active {
    opacity: 1;
    pointer-events: unset;
}
.loader .circle {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #fff;
    border-radius: 100%;
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes loadingD {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form-add-edit,
.form-delete,
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-out;
    z-index: 98;
    pointer-events: none;
    opacity: 0;
}
.overlay.active {
    opacity: 1;
}
.form-delete {
    pointer-events: none;
}
.form-delete.active {
    pointer-events: unset;
}
.form-delete.active .form {
    transform: scale(1);
}
.form-delete .form {
    flex-direction: column;
    border-radius: 10px;
    width: 32rem;
    padding: 2rem 2.5rem;
    background: #fff;
    transition: 0.3s ease-out;
    transform: scale(0);
}
.form-delete .form i {
    color: #d64f42;
    font-size: 4rem;
    margin: 1rem 0 1.5rem;
}
.form-delete .form h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.form-delete .form button {
    width: 100%;
    margin: 0 5px;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 1.5rem 4rem;
    font-size: 1.4rem;
    transition: 0.3s ease-out;
}
.form-delete .form button#yes {
    background: #2ecc71;
}
.form-delete .form button#yes:hover {
    background: #29ad60;
}
.form-delete .form button#no {
    background: #e74c3c;
}
.form-delete .form button#no:hover {
    background: #be4032;
}
.form-add-edit {
    pointer-events: none;
}
@keyframes invalid {
    0% {
        transform: translateX(-20px);
    }
    20% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
.form-add-edit.active {
    pointer-events: unset;
}
.form-add-edit.active .form {
    transform: scale(1);
}
.form-add-edit .form {
    flex-direction: column;
    border-radius: 10px;
    width: 32rem;
    padding: 3rem 2rem;
    background: #fff;
    transform: scale(0);
    transition: 0.3s ease-out;
}
.form-add-edit .form i {
    color: #d64f42;
    margin: 1rem 0 1.5rem;
    font-size: 4rem;
}
.form-add-edit .form .field {
    width: 100%;
    margin: 1rem 0;
}
.form-add-edit .form .field label {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.form-add-edit .form .field input {
    padding: 1.5rem 0;
    font-size: 1.4rem;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.form-add-edit .form .field button {
    width: 100%;
    margin: 0 5px;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 1.5rem 4rem;
    font-size: 1.4rem;
    transition: 0.3s ease-out;
}
.form-add-edit .form .field button#complete {
    background: #2ecc71;
}
.form-add-edit .form .field button#complete:hover {
    background: #29ad60;
}
.form-add-edit .form .field button#cancel {
    background: #e74c3c;
}
.form-add-edit .form .field button#cancel:hover {
    background: #be4032;
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.btnAdd {
    position: fixed;
    z-index: 10;
    background: #fff;
    right: 2rem;
    bottom: 2rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
    transition: 0.3s ease-out;
    cursor: pointer;
}
.btnAdd:hover {
    background: #e9e9e9;
}
.btnAdd:hover .addPlus {
    opacity: 1;
    transform: translate(-120%, -50%);
}
.btnAdd img {
    width: 60%;
    object-fit: cover;
}
.btnAdd .addPlus {
    position: absolute;
    left: 0;
    top: 50%;
    height: 60%;
    transform: translate(-150%, -50%);
    opacity: 0;
    transition: 0.3s ease-out;
    color: #fff;
    padding: 1rem 1.5rem;
    background: #2ecc71;
    font-size: 1.4rem;
    font-weight: 500;
    width: 8.5rem;
    z-index: 1;
    line-height: 1;
    border-radius: 20px;
}
.btnAdd .addPlus:before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translate(40%, -50%) rotate(45deg);
    width: 1rem;
    height: 1rem;
    background: #2ecc71;
}
.btnAdd .addPlus i {
    margin-left: 10px;
}
.header i,
.main table tbody tr td.edit i,
.main table tbody tr td.trash i,
nav .nav__btn,
nav .nav__tools i {
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    color: #333;
    font-size: 1.6rem;
    transition: 0.3s ease-out;
}
.header i:hover,
.main table tbody tr td.edit i:hover,
.main table tbody tr td.trash i:hover,
nav .nav__btn:hover,
nav .nav__tools i:hover {
    background: rgba(0, 0, 0, 0.2);
}
nav {
    padding: 8px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
nav .nav__logo {
    flex: 1;
}
nav .nav__search {
    margin: 0 10px;
    flex: 3;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background: #f1f3f4;
}
nav .nav__search i {
    margin-right: 1rem;
    font-size: 1.6rem;
    color: #333;
}
nav .nav__search input {
    width: 100%;
    outline: 0;
    border: 0;
    background: 0 0;
    font-size: 1.6rem;
    color: #333;
}
nav .nav__tools {
    flex: 1;
    justify-content: flex-end;
}
@media (max-width: 512px) {
    nav .nav__tools {
        display: none;
    }
}
.header {
    padding: 1rem 15px;
    background: #ec4d3d;
}
.header .header__item {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}
.header i {
    color: #fff;
}
.main {
    border-radius: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media (max-width: 600px) {
    .main .table {
        padding: 0 5px;
    }
}
.main table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.main table td,
.main table th {
    padding: 15px;
}
@media (max-width: 600px) {
    .main table td,
    .main table th {
        padding: 5px;
    }
}
.main table th {
    cursor: pointer;
    transition: background 0.3s ease-out;
    position: relative;
}
.main table th:nth-of-type(5):hover,
.main table th:nth-of-type(6):hover {
    cursor: default;
    background: 0 0;
}
.main table th i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    color: #333;
    opacity: 0;
    transition: 0.3s ease-out;
}
.main table th:hover {
    background: rgba(0, 0, 0, 0.1);
}
.main table th.active i,
.main table th:hover i {
    opacity: 1;
}
.main table th.desc i {
    transform: translate(-100%, -50%) rotate(0);
}
.main table th.asc i {
    transform: translate(-100%, -50%) rotate(180deg);
}
.main table thead {
    border-bottom: 3px solid #d64f42;
}
.main table thead tr th {
    font-size: 1.8rem;
    color: #333;
    margin: 0 1rem;
}
.main table thead tr th:nth-child(1) {
    width: 10%;
}
.main table thead tr th:nth-child(2) {
    width: 20%;
}
.main table thead tr th:nth-child(3) {
    width: 40%;
}
.main table thead tr th:nth-child(4) {
    width: 10%;
}
.main table thead tr th:nth-child(5) {
    width: 5%;
}
.main table thead tr th:nth-child(6) {
    width: 5%;
}
.main table tbody tr {
    transition: background 0.3s ease-out;
    cursor: pointer;
    overflow: hidden;
}
.main table tbody tr:hover {
    background: rgba(0, 0, 0, 0.05);
}
.main table tbody tr:not(:last-child) {
    border-bottom: 1px solid #ccc !important;
}
.main table tbody tr td {
    font-size: 1.4rem;
    color: #999;
    font-weight: 500;
}
.main table tbody tr td.edit i:hover {
    color: #fff;
    background: #2ecc70af;
}
.main table tbody tr td.trash i:hover {
    color: #fff;
    background: #e74d3cb2;
}
.main table tbody tr td.id,
.main table tbody tr td.title {
    text-transform: uppercase;
    color: #555;
    font-weight: 600;
}
.pagination {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination li {
    width: 4rem;
    height: 4rem;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
    line-height: 4rem;
    background: #fafbfb;
    color: #333;
    transition: 0.3s ease-out;
}
.pagination li.active,
.pagination li:hover {
    color: #fff;
    background: #d64f42;
}
.sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem 0 0;
    height: 85vh;
}
@media (max-width: 991px) {
    .sidebar {
        display: none;
    }
}
.sidebar .sidebar__item:last-of-type {
    position: absolute;
    bottom: 0;
}
@media (max-width: 575px) {
    .sidebar .sidebar__item:last-of-type {
        position: relative;
    }
}
.sidebar .sidebar__item:not(:last-of-type) {
    padding: 10px 2.5rem;
    font-size: 1.6rem;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #888;
}
.sidebar .sidebar__item:not(:last-of-type).active,
.sidebar .sidebar__item:not(:last-of-type):hover {
    color: #d64f42;
    background: #d64e4246;
    cursor: pointer;
}
.sidebar .sidebar__item i {
    width: 25px;
    text-align: center;
    margin-right: 10px;
}
.sidebar .sidebar__item span {
    font-weight: 500;
}
.sidebar .sidebar__item img {
    margin-top: 15rem;
    width: 100%;
    padding: 2rem 2rem 4rem 2rem;
}
